node_modules/
.venv-pmtiles/
.expo/
artifacts/
dist/
/data/
apps/api/data/
.storage/
.env
*.zip
ios/
android/
!apps/mobile/native-wind/ios/
!apps/mobile/native-wind/android/
apps/mobile/native-wind/android/build/
apps/mobile/native-wind/android/.cxx/
apps/mobile/native-wind/android/.gradle/
!apps/mobile/native-offline/android/
apps/mobile/native-offline/android/build/
apps/mobile/native-offline/android/.gradle/
*.log
.DS_Store
